In [21]:
from IPython.display import display, HTML
import pandas as pd
import seaborn as sns
pd.set_option('display.max_rows', 6)

In [7]:
# pandas-datareader package has a DataReader class for Yahoo finance, Google finance, etc

import pandas_datareader.data as web
# from datetime import datetime

df = pd.DataFrame()
symbols = 'GOOG IBM GE TSLA AAPL'.split()
for symbol in symbols:
    df_onesym = web.DataReader(symbol, 'yahoo', '2010-07-17', '2017-10-08')
    for name in df_onesym:
        newname = symbol.lower() + '_' + name.replace(' ', '_').lower()
        df[newname] = df_onesym[name]
df.to_csv('../shared-resources/time_series/time-series.csv')
df = df.fillna(method='ffill')
df = df.reindex()

In [ ]:
type(df.index)  # dtype object

In [30]:
df.index.name = df.index.name.lower().replace(' ', '_')
df.index = pd.to_datetime(df.index)
df = df.fillna(method='ffill')
df = df.reindex()
df.to_csv('../shared-resources/time_series/time-series.csv')

In [23]:
df

,goog_open,goog_high,goog_low,goog_close,goog_adj_close,goog_volume,ibm_open,ibm_high,ibm_low,ibm_close,...,tsla_low,tsla_close,tsla_adj_close,tsla_volume,aapl_open,aapl_high,aapl_low,aapl_close,aapl_adj_close,aapl_volume
date,,,,,,,,,,,,,,,,,,,,,
2010-07-19,229.015472,233.307556,227.281754,231.583771,231.583771,9159800,128.669998,130.380005,128.369995,129.789993,...,20.920000,21.910000,21.910000,2486500,35.697144,35.697144,34.228573,35.082859,31.562510,256119500
2010-07-20,229.025406,239.934464,228.811798,239.238983,239.238983,8161600,122.970001,126.559998,122.930000,126.550003,...,20.049999,20.299999,20.299999,1825300,34.700001,36.128571,34.287144,35.984287,32.373478,268737700
2010-07-21,240.436188,241.280701,236.178879,237.207199,237.207199,6601800,126.440002,126.500000,124.620003,125.269997,...,19.500000,20.219999,20.219999,1252500,37.869999,37.878571,36.285713,36.320000,32.675503,296417800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-10-04,957.000000,960.390015,950.690002,951.679993,951.679993,952400,147.000000,147.020004,146.110001,146.479996,...,349.600006,355.010010,355.010010,8163500,153.630005,153.860001,152.460007,153.479996,153.479996,20163800
2017-10-05,955.489990,970.909973,955.179993,969.960022,969.960022,1213800,146.679993,147.539993,146.479996,146.720001,...,351.350006,355.329987,355.329987,4171700,154.179993,155.440002,154.050003,155.389999,155.389999,21283800
2017-10-06,966.700012,979.460022,963.359985,978.890015,978.890015,1145200,146.639999,146.850006,146.320007,146.479996,...,352.250000,356.880005,356.880005,4215700,154.970001,155.490005,154.559998,155.300003,155.300003,16478900

In [12]:
df.describe()

,goog_open,goog_high,goog_low,goog_close,goog_adj_close,goog_volume,ibm_open,ibm_high,ibm_low,ibm_close,...,tsla_low,tsla_close,tsla_adj_close,tsla_volume,aapl_open,aapl_high,aapl_low,aapl_close,aapl_adj_close,aapl_volume
count,1820.000000,1820.000000,1820.000000,1820.000000,1820.000000,1.820000e+03,1820.000000,1820.000000,1820.000000,1820.000000,...,1820.000000,1820.000000,1820.000000,1.820000e+03,1820.000000,1820.000000,1820.000000,1820.000000,1820.000000,1.820000e+03
mean,519.297344,523.228867,514.933153,519.226135,519.226135,3.560083e+06,170.724275,171.923407,169.634896,170.812698,...,146.171214,148.816912,148.816912,4.449117e+06,89.797456,90.554443,88.974717,89.785829,85.112489,8.121423e+07
std,207.453896,208.655555,206.044006,207.495500,207.495500,2.721965e+06,21.982215,22.068324,21.915633,21.973346,...,103.852233,105.422301,105.422301,4.255279e+06,31.414897,31.595906,31.209187,31.415883,32.468321,5.503352e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50%,525.475647,529.708557,521.102813,525.519226,525.519226,2.995400e+06,169.639999,171.044998,168.500000,170.050003,...,180.339996,183.479996,183.479996,3.470500e+06,88.527854,89.276428,87.640000,88.613572,80.350758,6.848080e+07
75%,701.759994,709.172485,694.012497,701.519989,701.519989,4.664950e+06,189.852505,190.889999,188.522503,189.830002,...,226.512501,230.014996,230.014996,5.974025e+06,112.542500,113.754999,111.542502,112.650002,109.113690,1.071355e+08
max,984.500000,988.250000,977.200012,983.679993,983.679993,2.984230e+07,215.380005,215.899994,214.300003,215.800003,...,379.350006,385.000000,385.000000,3.716390e+07,164.800003,164.940002,163.630005,164.050003,164.050003,4.702495e+08

In [36]:
df = pd.read_csv('../shared-resources/time_series/time-series.csv', index_col=0, header=0, parse_dates=True)
type(df.index)
df.index.isnull().sum()

0

## Your Turn

1. load the time series of bitcoin prices from the ../shared-resources/ directory
2. make sure there aren't any "Unknown" columns of integers in your
2. make sure the index has an appropriate type for a *time series*
3. add a column to this time-series.csv file for bitcoin
3. save it to 'time-series-with-bitcoin.csv'

## BONUS

1. find a stock/commodity/index you're interested in: '../shared-resources/time_series/secwiki_tickers.csv'
2. use yahoo or google finance to download it's data
3. Add columns for it to your time series DataFrame
4. save it to a csv for use later in class